@import 'nib'

// Includes
// ===========
@import '~includes/mixins.styl'
@import '~includes/variables.styl'
@import '~includes/grid.styl'

@import '~includes/reset.styl'

// Core
// ===========
.wrapper
    width: 732px
    margin: 0 auto
    position: relative

html
    padding-top: gutterwidth * .5
    background: bg-pattern

body
    padding-top: gutterwidth
    background: #FAFAFA
    font: 16px/1.5 main-font
    color: darkgrey
    letter-spacing: -.06em

p
    margin-bottom: 5px

a
    color: red
    display: inline-block

p a:hover
    transition: background .1s ease-out, color .1s ease-out
    background: #EEE
    box-shadow: 1px 1px 2px rgba(black, .15)
    margin: 0 -3px
    padding: 0 3px
    text-decoration: none
    color: grey

.button
    display: inline-block
    line-height: gutterwidth * 1.5
    background: linear-gradient(lighten(#B8010B, 2) 30%, #7D0109)
    color: white
    text-decoration: none
    font-size: 18px
    padding: 0 gutterwidth
    margin-top: 5px
    border: 1px solid #91000A
    border-radius: 5px
    transition: all .1s ease-out
    text-shadow: 1px 1px 2px #7D0109
    box-shadow: 0 2px 6px rgba(black, .2), inset 0 2px 3px rgba(white, .25)
    &:hover
        text-shadow: 0 -1px 4px #7D0109
        box-shadow: 0 2px 6px rgba(black, .2), inset 0 2px 3px rgba(black, .2)
    &:active
        transition: all 0 ease-out
        box-shadow: 0 2px 6px rgba(black, .2), inset 0 6px 6px rgba(black, .2)

#skiplinks
    vhidden()

// Header
// ===========
.header
    overflow: hidden
    height: 410px
    .logo
        column: 2
        offset: 2
        text-align: center
        font-size: 66px
        line-height: 78px
        font-weight: 800
        letter-spacing: -2px
        position: relative
        a
            color: darkgrey
            text-decoration: none
            &:hover
                background: transparent
            &:before, &:after
                color: softgrey
                position: absolute
                bottom: -3px
                font-size: 42px
            &:before
                left: 18px
                content: '{'
            &:after
                right: 18px
                content: '}'
        img
            display: block
    .sidebar
        column: 2
        padding-top: 40px
        text-align: right
        font-style: italic
        .item
            display: block
            margin-top: -.3em
            margin-bottom: -.3em
            font-weight: 300
            color: grey
        .weekday
            font-size: 18px
        .day
            color: darkgrey
            font-weight: 700
            font-size: 22px
        .year
            font-size: 28px
        .city
            font-weight: 600

// Nav
// ===========
nav
    absolute: top 330px left
    text-align: center
    text-transform: lowercase
    background: bg-shadow 0 bottom
    ul
        background: bg-shadow -1000px top
    li
        display: inline-block
    a
        size = gutterwidth * 2.5
        font-size: 18px
        line-height: size
        height: size
        display: block
        padding: 0 gutterwidth * .5
        color: grey
        text-decoration: none
        border-bottom: 0 solid red
        &:hover
            transition: all .1s ease-out
            border-bottom-width: 4px
            height: size - 4px

// Content
// ===========
.title
    font-size: 36px
    font-style: italic
    font-weight: 800
    text-align: center
    line-height: gutterwidth * 3
    margin-bottom: gutterwidth
    background: bg-shadow 0 bottom

.subtitle
    font-size: 19px
    font-style: italic
    font-weight: 800

section
    overflow: hidden
    margin-bottom: gutterwidth
    .box
        column: 3
        text-align: right
        ~ .box
            text-align: left

// About
// ===========
section.about
    .title
        vhidden()
    .enphase
        column: 6
        color: darkgrey
        margin-top: gutterwidth * 1.75
        margin-bottom: gutterwidth * 1.75
        font-size: 20px
        font-style: italic
        text-align: center

// Schedule
// ===========
section.schedule
    thead th
        vhidden()
    .time
        column: 1
        font-size: 24px
        font-style: italic
        font-weight: 800
        text-align: right
    .slot
        column: 5
        margin-top: 6px
        margin-bottom: gutterwidth
        .talk
            margin-bottom: -4px
            position: relative
        .speaker
            font-style: italic
            margin-bottom: gutterwidth * .5
        .photo
            margin-right: gutterwidth
            float: left

    .other
        opacity: .6

// Location
// ===========
section.location
    #map-canvas
        column: 4
        height: 250px
    .address
        column: 2
        padding-top: gutterwidth
        p
            margin-bottom: gutterwidth * .5
    .venue
        line-height: 1.2

// Footer
// ===========
.footer
    background: bg-pattern
    margin-top: gutterwidth * 2
    .title
        color: white

    .organizations
        text-align: center
        padding: gutterwidth * .5 0
        li
            display: inline-block
            margin: 0 gutterwidth

    section.partners li
        margin: 0 gutterwidth * .5

    .credits
        text-align: center
        font-size: 14px
        padding: gutterwidth * 2 0 gutterwidth 0
        color: white
        p
            display: inline-block
            padding: 0 gutterwidth * 1.5
            background: url('../images/crown.png') left center no-repeat
        a
            color: white
            font-weight: 700
            text-decoration: none
            &:hover
                background: darken(red, 5)

// Print
// ===========
@import '~includes/print.styl'