@import 'nib'

// Includes
// ===========
@import '~includes/mixins.styl'
@import '~includes/variables.styl'
@import '~includes/grid.styl'

@import '~includes/reset.styl'

// Core
// ===========
.wrapper
    max-width: 732px
    margin: 0 auto
    position: relative

html
    padding-top: gutterwidth * .5
    background: bg-pattern

body
    background: softwhite
    font: 16px/1.5 main-font
    color: darkgrey
    letter-spacing: -.06em

p
    margin-bottom: 5px

a
    color: red
    display: inline-block

    p &:hover, p &:after
            box-shadow: 1px 1px 2px rgba(black, .15)

    p &:hover
        transition: background .1s ease-out, color .1s ease-out
        margin: 0 -3px
        padding: 0 3px
        text-decoration: none
        background: darkwhite
        color: grey

    p &[rel=external]:hover
        position: relative
        &:after
            absolute: top right -1.2em
            bottom: 0
            width: 1.2em
            content: ''
            background: white url('../images/external-icon.png') center center no-repeat

.button
    display: inline-block
    line-height: 2.5
    background: mix(#C2010C, #7D0109)
    background: linear-gradient(#C2010C 30%, #7D0109)
    color: white
    text-decoration: none
    font-size-em: 18px
    padding: 0 1.5em
    margin-top: 5px
    border: 1px solid #91000A
    border-radius: 5px
    transition: all .1s ease-out
    text-shadow: 1px 1px 2px #7D0109
    box-shadow: 0 2px 6px rgba(black, .2), inset 0 2px 3px rgba(white, .25)
    &:hover
        text-shadow: 0 -1px 4px #7D0109
        box-shadow: 0 2px 6px rgba(black, .2), inset 0 2px 3px rgba(black, .2)
    &:active
        transition: all 0 ease-out
        box-shadow: 0 2px 6px rgba(black, .2), inset 0 6px 6px rgba(black, .2)

#skiplinks
    vhidden()

// Header
// ===========
@keyframes rhino-horn
    0%
        transform: rotate(0)
    16%
        transform: rotate(10deg)
    28%
        transform: rotate(-4deg)
    40%
        transform: rotate(0)


.header
    height: 405px
    padding-top: gutterwidth
    .logo
        width: 214px
        margin: 0 auto
        position: relative
        z-index: 1
        background: url('../images/rhino.png') no-repeat

        a
            color: darkgrey
            text-decoration: none
            display: block
            letter-spacing: -2px
            font-size: 66px
            line-height: 78px
            font-weight: 800
            text-align: center
            padding-top: 200px
            braces: 18px 18px
            &:before, &:after
                color: softgrey
                bottom: -3px
                font-size: 42px
        .rhino
            absolute: top bottom
            left: 0
            right: 0

            background: url('../images/rhino.png') -250px 0 no-repeat

        a:hover .rhino
            transform-origin: 60% 50%
            animation: rhino-horn 2s ease-out
            animation-iteration-count: infinite

    .sidebar
        column: 6
        absolute: right top 60px
        text-align: right
        font-style: italic
        .item
            display: block
            margin-top: -.3em
            margin-bottom: -.3em
            font-weight: 300
            color: grey
        .weekday
            font-size-em: 18px
        .day
            color: darkgrey
            font-weight: 700
            font-size: 22px
        .year
            font-size-em: 28px
        .city
            font-weight: 600

// Nav
// ===========
nav
    absolute: left right
    z-index: 100
    top: 360px
    text-align: center
    text-transform: lowercase
    background: bg-shadow 0 bottom
    ul
        background: bg-shadow -1000px top
    li
        display: inline-block
    a
        size = gutterwidth * 2.5
        font-size-em: 18px
        line-height: size
        height: size
        display: block
        padding: 0 gutterwidth * .5
        color: grey
        text-decoration: none
        border-bottom: 0 solid red
        &.active, &:hover
            transition: all .1s ease-out
            border-bottom-width: 4px
            height: size - 4px

    &.fixed
        position: fixed
        top: 0
        background: bg-pattern
        a
            font-size-em: 16px
            line-height: navsize
            height: navsize
            color: white
            border-color: white
            &.active, &:hover
                height: navsize - 4px

// Content
// ===========
.title
    font-size-em: 36px
    font-style: italic
    font-weight: 800
    text-align: center
    line-height: 2.5
    margin-bottom: gutterwidth
    background: bg-shadow 0 bottom

.subtitle
    font-size-em: 19px
    font-style: italic
    font-weight: 800

section
    overflow: hidden
    margin-top: navsize * -1
    padding-top: navsize
    padding-bottom: 1.5em
    .box
        column: 3
        text-align: right
        ~ .box
            text-align: left

// About
// ===========
section.about
    .title
        vhidden()
    .enphase
        column: 6
        color: darkgrey
        margin-top: 2.65em
        margin-bottom: 2.65em
        font-size-em: 20px
        font-style: italic
        text-align: center

// Schedule
// ===========
section.schedule
    table
        margin-bottom: -2em
    thead th
        vhidden()
    .time, .slot:before
        font-size-em: 24px
        font-style: italic
        font-weight: 800        
    .time
        column: 1
        text-align: right
    .slot
        column: 5
        margin-top: 6px
        margin-bottom: 2em
        .talk
            margin-bottom: -4px
            position: relative
            z-index: 1
        .speaker
            font-style: italic
            margin-bottom: gutterwidth * .5
        .photo
            margin-right: 2em
            float: left

    .other
        opacity: .6

// Location
// ===========
section.location
    .title
        margin-bottom: gutterwidth * 1.5
    .map
        column: 4
        #map-canvas
            height: 250px  
        p
            text-align: right 
            font-size-em: 14px
            margin-top: 10px     
    .address
        column: 2
        padding-top: 2em
        p
            margin-bottom: 1em
    .venue
        line-height: 1.2

// Footer
// ===========
.footer
    background: bg-pattern
    margin-top: 2em
    overflow: hidden
    .title
        color: white

    .organizations
        text-align: center
        li
            display: inline-block
            margin: gutterwidth * .5 gutterwidth

    section.partners li
        margin-left: gutterwidth * .5
        margin-right: gutterwidth * .5

    .credits
        text-align: center
        font-size-em: 14px
        padding: gutterwidth * 2 0 gutterwidth 0
        color: white
        p
            display: inline-block
            padding: 0 2.75em
            max-width: 80%
            box-sizing: border-box
            background: url('../images/crown.png') left center no-repeat
        a
            color: white
            font-weight: 700
            text-decoration: none
            &:hover
                background: darkred

// Braces
// ===========
.landing .wrapper
    braces: 0 null
    &:before
        font-size: 130px
        top: -100px
        text-shadow: 2px 4px 10px rgba(black, .1)

.footer .wrapper
    braces: null 0
    &:after
        font-size: 180px
        bottom: -90px
        text-shadow: 2px 4px 10px rgba(black, .1)

.photo
    braces: -14px -12px
    &:before, &:after
        text-shadow: 2px 4px 4px rgba(black, .1)
        z-index: 10
    &:before
        font-size: 60px
        top: -30px
    &:after
        font-size: 50px
        bottom: -16px
.map
    braces: -18px -12px
    &:before, &:after
        text-shadow: 2px 4px 4px rgba(black, .1)
        z-index: 10
    &:before
        font-size: 100px
        top: -50px
    &:after
        font-size: 70px
        bottom: 15px

// Magic responsive behavior
// ===========

@media only screen and (max-width: 550px)
    body
        font-size: 12px

    .header
        height: auto
        .sidebar
            position: static
            float: none
            text-align: center
            padding-top: 2em
    nav
        vhidden()
        right: auto
    section
        .box
            column: 6
            text-align: left
            ~ .box
                margin-top: gutterwidth * .5
    section.location
        .map, .address
            column: 6
        .address p
            margin-bottom: 0
    section.schedule
        .time
            display: none
        .slot
            column: 6
            margin-top: 0
            &:before
                content: attr(data-time)
                display: block


// Print
// ===========
@import '~includes/print.styl'