// grid
columnwidth = 92px
gutterwidth = 30px
columns     = 6
fluid       = true

// nav
navsize = gutterwidth * 1.75

// fonts
main-font = 'Open Sans', sans-serif

// colors
softgrey = #CCC
grey = #666
darkgrey = #333

softwhite = #F9F9F9
darkwhite = #EEE

// bgs
bg-shadow = url('/images/shadows.png')