// grid
columnwidth = 92px
gutterwidth = 30px
columns     = 6
// fluid       = true

// fonts
main-font = 'Open Sans', sans-serif

// colors
softgrey = #CCC
grey = #666
darkgrey = #333

darkwhite = #F9F9F9

red = #A50006

// bgs
bg-pattern = url('../images/pattern.png')
bg-shadow = url('../images/shadows.png')