// grid
columnwidth = 92px
gutterwidth = 30px
columns     = 6
fluid       = true

// nav
navsize = gutterwidth * 1.75

// fonts
main-font = 'Open Sans', sans-serif

// colors
softgrey = #CCC
grey = #666
darkgrey = #333

softwhite = #F9F9F9
darkwhite = #EEE

red = #A50006
darkred = #8b0005

// bgs
bg-pattern = url('../images/pattern.png')
bg-shadow = url('../images/shadows.png')