.fan_box .full_widget {
    border: none !important;
    position: relative;
    background: transparent;
}

.fan_box .full_widget .connect_top {
    background: transparent;
    padding-top: 0;  
}

.fan_box .profileimage {
    display: none;
}

.fan_box .connect_action {
    padding: 0;
}

.fan_box .connect_action .name_block {
    width: 48%;
    line-height: 24px;
    margin-right: 4%;
    float: left;
    text-align: right;
}

.fan_box .mts {
    margin-top: 0;
}

.fan_box .connect_widget .connect_widget_interactive_area {
    margin: 0;
}

.fan_box .connections {
    border: none;
    margin: 0;
    padding-top: 0;
}

.fan_box .connections .total,
.fan_box .connections .total_plus {
    display: none;
}

.fan_box .connections_grid {
    width: 550px;
    padding-left: 5px;
    margin: 0 auto;
}